# Copy to terraform.tfvars and adjust as needed.
name_prefix           = "k8s"
cp_instance_type      = "CPU.4V.16G"
worker_instance_type  = "CPU.4V.16G"
image                 = "26.04.base"
location              = "FIN-03"
os_volume_size        = 100
ssh_public_key_path   = "~/.ssh/id_ed25519.pub"
ssh_private_key_path  = "~/.ssh/id_ed25519"
ssh_user              = "root"
rke2_version          = "v1.37.1+rke2r1"
pod_cidr              = "1.1.0.0/16"
service_cidr          = "2.2.0.0/16"
cilium_cluster_name   = "verdaclu"
