# Copy to terraform.tfvars and adjust as needed.
instance_count      = 2
name_prefix         = "k8s-node"
instance_type       = "CPU.4V.16G"
image               = "26.04.cuda13.2.kubernetes-1.36.4"
location            = "FIN-01"
os_volume_size      = 100
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
